@charset "utf-8";
/* CSS Document */
html, body{
  background-repeat:repeat;
  /*font-family: 'BeauSans';*/
  padding: 0;
  margin: 0;
}

@font-face {
        font-family: 'PF BeauSans Pro Thin';
        src: url('../fonts/pfbeausanspro-thin.eot');
        src: local('PF BeauSans Pro Thin');
        src: url('../fonts/pfbeausanspro-thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfbeausanspro-thin.woff') format('woff'),
        url('../fonts/pfbeausanspro-thin.ttf') format('truetype');
        /*url('../fonts/pfbeausanspro-thin.svg#PF BeauSans Pro Thin') format('svg');*/
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'PF BeauSans Pro Italic';
        src: url('../fonts/pfbeausanspro-italic.eot');
        src: local('PF BeauSans Pro Italic');
        src: url('../fonts/pfbeausanspro-italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfbeausanspro-italic.woff') format('woff'),
        url('../fonts/pfbeausanspro-italic.ttf') format('truetype');
        /*url('../fonts/pfbeausanspro-italic.svg#PF BeauSans Pro Italic') format('svg');*/
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: 'PF BeauSans Pro Bold';
        src: url('../fonts/pfbeausanspro-bold.eot');
        src: local('PF BeauSans Pro Bold');
        src: url('../fonts/pfbeausanspro-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfbeausanspro-bold.woff') format('woff'),
        url('../fonts/pfbeausanspro-bold.ttf') format('truetype');
        /*url('../fonts/pfbeausanspro-bold.svg#PF BeauSans Pro Bold') format('svg');*/
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: 'PF BeauSans Pro Bbook';
        src: url('../fonts/pfbeausanspro-book.eot');
        src: local('PF BeauSans Pro Bbook');
        src: url('../fonts/pfbeausanspro-book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfbeausanspro-book.woff') format('woff'),
        url('../fonts/pfbeausanspro-book.ttf') format('truetype');
        /*url('../fonts/pfbeausanspro-book.svg#PF BeauSans Pro Bbook') format('svg');*/
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: 'PF BeauSans Pro Thin Italic';
        /*src: url('../fonts/pfbeausanspro-thinital.eot');*/
        src: local('PF BeauSans Pro Thin Italic');
        src: url('../fonts/pfbeausanspro-thinital.ttf') format('truetype');
        /*url('../fonts/pfbeausanspro-thinital.svg#PF BeauSans Pro Thin Italic') format('svg');*/
        /*url('../fonts/pfbeausanspro-thinital.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfbeausanspro-thinital.woff') format('woff'),*/
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: 'PF BeauSans Pro Regular';
        src: url('../fonts/pfbeausanspro-reg.eot');
        src: local('PF BeauSans Pro Regular');
        src: url('../fonts/pfbeausanspro-reg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfbeausanspro-reg.woff') format('woff'),
        url('../fonts/pfbeausanspro-reg.ttf') format('truetype');
        /*url('../fonts/pfbeausanspro-reg.svg#PF BeauSans Pro Regular') format('svg');*/
        font-weight: normal;
        font-style: normal;
}
#header{
  height: 120px;
  /*background-color: rgba(0,0,0,0.5);*/
  position: absolute;
  width: 100%;
  top:0px;

}
.logo{
  margin-left: 0;
  position: absolute;
  background-color: rgba(0,0,0,0);
  height: 120px;
  width: 30%;
  text-align:center;
}
.logodescription{
  position: absolute;
  padding-left: 8%;
  top:83px;
  width: 60%;
  left: 30%;
  margin-bottom: 5px;
  height: 15px;
  margin-right: 0;
  font-size: 15px;
  font-family:'PF BeauSans W15 Light' ,'fallback-font';
  font: url("pfbeausanspro-light.ttf")format("truetype");
}

.contactinfo{
  position: absolute;
  /*background-color: rgba(0,0,0,0.1);*/
  width: 20%;
  height: 100%;
  margin-left:30%;
  font-size: 16px;
  font-family: 'PF BeauSans Pro Regular', sans-serif;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
  /*font-family:'PF BeauSans W15 Light' ,'fallback-font';*/
  /*font: url("pfbeausanspro-light.ttf")format("truetype");*/
}
.regular-font-lg{
  font-size: 20px;
  font-family: 'PF BeauSans Pro Regular', sans-serif;
}
.center{
  line-height: 20px;
  margin: auto;
  /*left:-20%;*/
  vertical-align: baseline;
  /*font: inherit;*/
  /*padding: 0;*/
  /*padding: 15% 23%;*/
}
.menu{
  height: 100px;
  width: 50%;
  margin-left:50%;
  /*background-color: rgba(0,0,0,1);*/
}
.icon-register{
  position: absolute;
  background-color: rgba(255,255,255,1);
  width: 30px;
  height: 30px;
  margin-left:170px;
  margin-right: 15px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.register-in-reception{
  position: absolute;
  background-color: rgba(255,255,255,1);
  width: 90px;
  height: 20px;
  margin-left:200px;
  margin-top: 35px;
  font-size: 12px;
  margin-bottom: 35px;
  color: rgba(0,0,0,0.7);
  padding: 5px;
}

.icon-call-back{
  position: absolute;
  background-color: rgba(255,255,255,1);
  width: 30px;
  height: 30px;
  margin-left:300px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.call-back{
  position: absolute;
  background-color: rgba(255,255,255,1);
  width: 90px;
  height: 20px;
  margin-left:330px;
  margin-top: 35px;
  font-size: 12px;
  margin-bottom: 35px;
  color: rgba(0,0,0,0.7);
  padding: 5px;
}
.icon-write-us{
  position: absolute;
  background-color: rgba(255,255,255,1);
  width: 30px;
  height: 30px;
  margin-left:420px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.write-us{
  position: absolute;
  background-color: rgba(255,255,255,1);
  width: 90px;
  height: 20px;
  margin-left:450px;
  margin-top: 35px;
  font-size: 12px;
  margin-bottom: 35px;
  /*text-align: center;*/
  color: rgba(0,0,0,0.7);
  padding: 5px;
}
.search{
  position: absolute;
  background-color: rgba(255,255,255,1);
  width: 30px;
  height: 30px;
  margin-left:550px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 20px;
}
.len-en{
  position: absolute;
  background-color: rgba(255,255,255,1);
  width: 40px;
  height: 20px;
  margin-left:600px;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  font-family:'PF BeauSans W15 Light' ,'fallback-font';
  font: url("pfbeausanspro-light.ttf")format("truetype");
  color: rgba(0,0,0,0.7);
}

.len-ukr{
  position: absolute;
  background-color: rgba(255,255,255,1);
  width: 40px;
  height: 20px;
  margin-left:640px;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  font-family:'PF BeauSans W15 Light' ,'fallback-font';
  font: url("pfbeausanspro-light.ttf")format("truetype");
  color: rgba(0,0,0,0.7);
}

.len-ru{
  position: absolute;
  background-color: rgba(255,255,255,1);
  width: 40px;
  height: 20px;
  margin-left:680px;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  font-family:'PF BeauSans W15 Light' ,'fallback-font';
  font: url("pfbeausanspro-light.ttf")format("truetype");
  color: rgba(0,0,0,0.7);
}

.len-en:hover{
  color: red;
  background-color: rgba(255,255,255,0.9);
}
.len-ukr:hover{
  color: red;
  background-color: rgba(255,255,255,0.9);
}
.len-ru:hover{
  color: red;
  background-color: rgba(255,255,255,0.9);
}
/*| Navigation |*/
#primary-menu{
  font-style: bold;
  background-color: rgba(255,255,255,1);
  /*margin: 10 10;*/
  top:100px;
  margin-left:50%;
  height: 20px;
  /*width: 100%;*/
  text-align: center;
}
#primary-menu > ul{
  padding: 0;
  margin: 0;
}
#primary-menu > ul > li{
  /*position: absolute;*/
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 15px;
}
#primary-menu > ul > li: last-child {
  margin-right: 0;
}
#primary-menu > ul > li a {
  /*position: absolute;*/
  color: rgba(0,0,0,0.7);
  text-decoration: none;
  font-family: 'PF BeauSans Pro Bold', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: bold;

}
#primary-menu > ul > li> i {
  display: inline-block;
  font: normal normal normal 12px/1 FontAwesome;
  /*font-size: small;*/
  text-rendering: auto;
  /*text-rendering: auto;*/
  -webkit-font-smoothing: antialiased;
  transform: translate(0, 0);

}

.menu-bg{
  top:120px;
  height: 2235px;
  width: 3%;
  min-width: 30px;
  position: absolute;
  margin-left:0px;
  background-color: rgba(0,0,0,1);
  background: linear-gradient(45deg, rgba(14,70,117,1) 40%, rgba(216,38,45,1) 60%);

}
.doc-photo{
  position: absolute;
  overflow: hidden;
  top:120px;
  height: 453px;
  margin-left: 3%;
  width: 45%;
  background-color: rgba(0,0,0,0);
}
.doc-info{
  position: absolute;
  top:120px;
  height: 453px;
  margin-left: 48%;
  width: 52%;
  background-color: #0e4675;
}
.doc-name{
  color: white;
  font-family: 'PF BeauSans Pro Thin',sans-serif;
  position: absolute;
  margin-top:10;
  font-size: 40px;
  letter-spacing: normal;
  line-height: 25px;
  width: 50%;
  line-height: 1;
  padding-left: 40px;
  /*padding-top: 0;
  padding-bottom: 0;*/

}

.doc-description-bold{
  color: white;
  margin-top:130px;
  font-family: 'PF BeauSans Pro Bold', sans-serif;
  font-size: 17px;
  letter-spacing: normal;
  line-height: 1px;
  padding-left: 40px;
  font-weight: bolder;
  margin-bottom: 0;
}
.doc-description-bold-educ{
  line-height: 1px;
  color: white;
  font-family: 'PF BeauSans Pro Bold', sans-serif;
  font-size: 17px;
  letter-spacing: normal;
  padding-left: 40px;
  font-weight: bolder;
}
.doc-description-bold-spec{
  line-height: 1px;
  color: white;
  font-family: 'PF BeauSans Pro Bold', sans-serif;
  font-size: 17px;
  letter-spacing: normal;
  padding-left: 40px;
  font-weight: bolder;
}
.doc-description-italic-ways{
  font-style: italic;
  font-family: 'PF BeauSans Pro Italic', sans-serif;
  color: white;
  font-size: 17px;
  padding-left: 40px;
}
/*.doc-description-bold{
  font-weight: bolder;
}*/
.doc-description-italic{
  font-style: italic;
  font-family: 'PF BeauSans Pro Italic', sans-serif;
  color: white;
  font-size: 17px;
}
.colortext{
  color:red;
  text-decoration: none;
}
.back-to-fulllist{
  margin-top: 15%;
  /*background-color: black;*/
  width: 100%;
  padding-left: 10px;

}
.back-fulllist{
  /*font-style: italic;*/
  font-family: 'PF BeauSans Pro Bbook', sans-serif;
  margin-top: 200px;
  color: white;
  font-size: 17px;
  margin-top: 100px;
}
.arrow-back{
  padding-left: 40px;
}
.biography-left{
  top: 573px;
  /*background-color: black;*/
  /*margin-left:3%;*/
  left:3%;
  width: 45%;
  position: absolute;
  height: 500px;
}
.biography-right{
  top: 573px;
  /*background-color: black;*/
  left:48%;
  width: 52%;
  position: absolute;
  height: 500px;
}

.gradient-text {
  font-family: 'PF BeauSans Pro Thin', sans-serif;
  font-size: 45px;
  /*text-transform: uppercase;*/
  background: linear-gradient(45deg, rgba(216,38,45,1) 40%, rgba(14,70,117,1) 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin: 20px auto;
}
.gr{
  left:35%;
  position: absolute;
  height: 60px;
  width: 40px;
  /*background-color: black;*/
}
.expression{
  font-family: 'PF BeauSans Pro Thin Italic';
  left:40%;
  height: 60px;
  font-size: 25px;
  width: 400px;
  color: rgba(0,0,0,0.6);
  position: absolute;
  font-style: italic;


}
.expression-formblock{
  font-family: 'PF BeauSans Pro Thin Italic';
  padding-left:6%;
  height: 60px;
  font-size: 25px;
  width: 500px;
  color: rgba(0,0,0,0.6);
  position: absolute;
  font-style: italic;
  display: table;
  margin: 5px auto;

}
.copywriting{
  font-family: 'PF BeauSans Pro Thin Italic', sans-serif;
  left:40%;
  font-size: 20px;
  width: 400px;
  color: rgba(0,0,0,0.6);
  position: absolute;
  font-style: italic;
  height: 20px;
  margin-top:60px;
}
.biography-text-left{
  font-family: 'PF BeauSans Pro Regular', sans-serif;
  left:40%;
  font-size: 17px;
  width:50%;
  color: rgba(0,0,0,0.6);
  position: absolute;
  /*font-style: italic;*/
  /*height: 200px;*/
  margin-top:100px;
  line-height: 1.3;
}
.biography-text-right{
  font-family: 'PF BeauSans Pro Regular', sans-serif;
  right:40%;
  font-size: 17px;
  width:60%;
  color: rgba(0,0,0,0.6);
  position: absolute;
  margin-top:20px;
  line-height: 1.3;
}
.blue-text{
  color: rgba(14,70,117,1);
  font-family: 'PF BeauSans Pro Regular', sans-serif;
  font-size: 17px;
  font-weight: bold;
}
.biography-list li::before {
  content: "•";
  color: red;
  margin-left: 5px;
  margin-right: 5px;

}
.biography-list >li{
  list-style: none;
}

.block-callus{
  height: 745px;
  margin-top:1073px;
  left: 3%;
  width: 100%;
  background-image: url(form_background.png);

}
.form-callus{
  padding-top:60px;
  height: 745px;
  margin-left: 53%;
  width: 42%;
  margin-right: 5%;
  /*background-color: black;*/
}

.form{

  margin-top: 150px;
  margin-left: 15%;
  width: 400px;
  /*background-color: black;*/
}
.form input{
  width: 350px;
  height: 30px;
  line-height: 1.2;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  padding-left: 15px;
  font-family: 'PF BeauSans Pro Regular', sans-serif;
  font-size: 15px;
}
.button-enroll{
    margin-top: 15px;
    border-radius: 10px;

}
.button-enroll i{
  color: rgba(255,255,255,1);
  height: 20px;
  width: 20px;
  padding: 0;
  margin: auto;

}
.map{
  top:1818px;
  height: 377px;
  background-color:rgba(0,0,0,0.6);
  width: 97%;
  margin-left: 3%;
}

#footer{
  height: 120px;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  width: 97%;
  top:2195px;
  margin-left: 3%;
}
.copyrightblock{
  height: 40px;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  width: 97%;
  top:2315px;
  margin-left: 3%;
}
.copyright-text-left{
  color: rgba(255, 255, 255, 1);
  text-align: left;
  margin-left:15%;
  width: 32%;
  font-family: 'PF BeauSans Pro Regular', sans-serif;
  font-size: 17px;
  position: absolute;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}
.copyright-text-right{
  color: rgba(255, 255, 255, 1);
  margin-left:60%;
  text-align: right;
  text-decoration: none;
  font-family: 'PF BeauSans Pro Regular', sans-serif;
  font-size: 17px;
  position: absolute;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}
.copyright-text-right > a{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: 'PF BeauSans Pro Regular', sans-serif;
  font-size: 17px;
}

.logo-footer{
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  background-color: rgba(0,0,0,0);
  height: 100px;
  width: 30%;
  text-align:center;
}

.contactinfo-footer{
  position: absolute;
  width: 20%;
  height: 100%;
  margin-left:30%;
  font-size: 16px;
  font-family: 'PF BeauSans Pro Regular', sans-serif;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
  color: rgba(255,255,255,1);
}
/*#primary-menu-footer {
  font-style: bold;
  background-color: rgba(255,255,255,1);
  top:100px;
  margin-left:50%;
  height: 20px;
  text-align: center;
}
#primary-menu-footer > ul{
  padding: 0;
  margin: 0;
}
#primary-menu-footer > ul > li{
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 15px;
}
#primary-menu-footer > ul > li: last-child {
  margin-right: 0;
}
#primary-menu-footer > ul > li a {
  color: rgba(0,0,0,0.7);
  text-decoration: none;
  font-family: 'PF BeauSans Pro Bold', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: bold;

}
#primary-menu-footer > ul > li> i {
  display: inline-block;
  font: normal normal normal 12px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translate(0, 0);

}*/

@media screen and (max-width: 1440px) {
  .menu{
    height: 100px;
    width: 50%;
    margin-left:50%;
    /*background-color: rgba(0,0,0,1);*/
  }
  .icon-register{
    position: absolute;
    background-color: rgba(255,255,255,1);
    width: 30px;
    height: 30px;
    margin-left:70px;
    margin-right: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .register-in-reception{
    position: absolute;
    background-color: rgba(255,255,255,1);
    width: 90px;
    height: 20px;
    margin-left:100px;
    margin-top: 35px;
    font-size: 12px;
    margin-bottom: 35px;
    color: rgba(0,0,0,0.7);
    padding: 5px;
  }

  .icon-call-back{
    position: absolute;
    background-color: rgba(255,255,255,1);
    width: 30px;
    height: 30px;
    margin-left:200px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .call-back{
    position: absolute;
    background-color: rgba(255,255,255,1);
    width: 90px;
    height: 20px;
    margin-left:230px;
    margin-top: 35px;
    font-size: 12px;
    margin-bottom: 35px;
    color: rgba(0,0,0,0.7);
    padding: 5px;
  }
  .icon-write-us{
    position: absolute;
    background-color: rgba(255,255,255,1);
    width: 30px;
    height: 30px;
    margin-left:330px;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .write-us{
    position: absolute;
    background-color: rgba(255,255,255,1);
    width: 90px;
    height: 20px;
    margin-left:360px;
    margin-top: 35px;
    font-size: 12px;
    margin-bottom: 35px;
    /*text-align: center;*/
    color: rgba(0,0,0,0.7);
    padding: 5px;
  }
  .search{
    position: absolute;
    background-color: rgba(255,255,255,1);
    width: 30px;
    height: 30px;
    margin-left:450px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding-left: 20px;
  }
  .len-en{
    position: absolute;
    background-color: rgba(255,255,255,1);
    width: 40px;
    height: 20px;
    margin-left:500px;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-family:'PF BeauSans W15 Light' ,'fallback-font';
    font: url("pfbeausanspro-light.ttf")format("truetype");
    color: rgba(0,0,0,0.7);
  }

  .len-ukr{
    position: absolute;
    background-color: rgba(255,255,255,1);
    width: 40px;
    height: 20px;
    margin-left:550px;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-family:'PF BeauSans W15 Light' ,'fallback-font';
    font: url("pfbeausanspro-light.ttf")format("truetype");
    color: rgba(0,0,0,0.7);
  }

  .len-ru{
    position: absolute;
    background-color: rgba(255,255,255,1);
    width: 40px;
    height: 20px;
    margin-left:600px;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-family:'PF BeauSans W15 Light' ,'fallback-font';
    font: url("pfbeausanspro-light.ttf")format("truetype");
    color: rgba(0,0,0,0.7);
  }

  .len-en:hover{
    color: red;
    background-color: rgba(255,255,255,0.9);
  }
  .len-ukr:hover{
    color: red;
    background-color: rgba(255,255,255,0.9);
  }
  .len-ru:hover{
    color: red;
    background-color: rgba(255,255,255,0.9);
  }

}

@media screen and (max-width: 600px) {

}
